.divheader {
  transform: background-color 2s;
  background-color:#292b2c
}
.sdc {
  animation: sdc 2s linear infinite;
  -webkit-animation: sdc 2s linear infinite;
  -ms-animation: sdc 2s linear infinite;
}
.pagebody {
  opacity: 0;
  transform: translateY(200px);
}
@keyframes sdc {
  0% {  transform: translateY(100px); opacity: 1 }
  50% { transform: translateY(0px); opacity: 0 }
  100% { transform: translateY(100px); opacity: 1 }
}
.card {
  opacity: 0;
  transform: translateY(200px);
}

.post-list{
  text-align: center;
  justify-content: center;
  padding-top:2.5em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;flex-wrap:
  wrap;-webkit-box-flex:1;
  -ms-flex:1 0 auto;
  flex:1 0 auto
}
  @media only screen and (min-width: 48em){.
    post-list {
      padding-top:5em
    }
