<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <p class="author" style="display: none">{{ site.author }}</p>
    <p class="color" style="display: none">{{ site.name_color }}</p>
    <header class="body-anim-start">
      <div class="divheader d-flex flex-column min-vh-100 justify-content-center align-items-center">
          <h1 class="text-light big-header"></h1>
          <br>
          <br>
          <br>
          <br>
          <i style="color: white; display: none; font-size: 50px" class="sdc fas fa-chevron-down"></i>
      </div>
    </header>
    <div class="post-list" style="overflow-y: hidden">
      {% for post in site.posts %}
        <div class="card" style="width: 18rem; cursor: pointer;" onclick="location.href='../{{ post.url }}'">
          {% if post.image %}
            <img class="card-img-top" alt="{{ post.title }}" src="{{ post.image }}" height="300px"/>
          {% else %}
            <img class="card-img-top" alt="{{ post.title }}" width="auto" height="200px" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Clouds_over_the_Atlantic_Ocean.jpg" />
          {% endif%}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            <p class="card-text">Posted {{ post.date | date: "%b %-d, %Y" }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <br>
    <br>
    <footer class="py-2 bg-dark text-center" style="z-index: 100">
        <a href="https://github.com/{{ site.social_links.github }}"><i style="font-size: 50px; color: white" class="fab fa-github"></i></a>
    </footer>
  </body>
</html>
