<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <p class="author" style="display: none">{{ site.author }}</p>
    <p class="color" style="display: none">{{ site.name_color }}</p>
    <header class="body-anim-start">
      <div class="divheader d-flex flex-column min-vh-100 justify-content-center align-items-center">
          <h1 class="text-light big-header"></h1>
          <br>
          <br>
          <br>
          <br>
          <i style="color: white; display: none; font-size: 50px" class="sdc fas fa-chevron-down"></i>
      </div>
    </header>
    <div class="align-items-center pagebody" style="min-height: 50vh">
      <div style="margin-top: 100px" class="d-flex flex-column align-items-center">
        <img src="img/avatar.png" width="150" height="150" class="shadow-lg rounded-circle">
        <br>
        <p class="lead mb-5">{{ site.about }}</p>
        <button type="button" onClick="location.href='/{{ site.baseurl }}/projects'" class="btn btn-outline-dark">View my Projects</button>
        <br>
        <button type="button" onClick="location.href='/{{ site.baseurl }}/blog'" class="btn btn-outline-dark">View my Blog</button>
      </div>
    </div>
    <br>
    <br>
    <footer class="py-2 bg-dark text-center" style="z-index: 100">
        <a href="https://github.com/{{ site.social_links.github }}"><i style="font-size: 50px; color: white" class="fab fa-github"></i></a>
    </footer>
  </body>
</html>
