<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="body-anim-start">
      <div class="divheader d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh">
          <h1 class="text-light big-header"></h1>
          <br>
          <br>
          <br>
          <br>
          <i style="color: white; display: none; font-size: 50px" class="sdc fas fa-chevron-down"></i>
      </div>
    </header>
    <div class="align-items-center pagebody">
      <div style="margin-top: 25px;" class="d-flex flex-column align-items-center min-vh-100">
        {{ content }}
      </div>
    </div>
    <footer class="bg-light text-center text-dark" style="padding-left: 10px; padding-right: 10px">
      {% if page.author %}
        <h3>Written by {{ page.author }} on {{ page.date | date: "%b %-d, %Y" }}</h3>
      {% else %}
      <h3>Written by anonymous on {{ page.date | date: "%b %-d, %Y" }}</h3>
      {% endif %}
    </footer>
    <nav class="navbar navbar-light bg-dark" style="width: 100%; padding-left: 25px; position: fixed; bottom: 0%">
      <a class="navbar-brand text-light" href="..">Go Home</a>
      <a href="https://github.com/{{ site.social_links.github }}"><i style="font-size: 50px; color: white" class="fab fa-github"></i></a>
      <a class="navbar-brand text-light" href="../blog">Back to blog</a>
    </nav>
  </body>
</html>
