<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body style="overflow-y: hidden;">
    <p class="author" style="display: none">{{ site.author }}</p>
    <p class="color" style="display: none">{{ site.name_color }}</p>
    <header class="body-anim-start">
      <div class="bg-dark d-flex flex-column min-vh-100 justify-content-center align-items-center">
          <h1 class="text-light big-header"></h1>
          <br>
          <br>
          <br>
          <br>
          <i style="color: white; display: none; font-size: 50px" class="sdc fas fa-chevron-down"></i>
      </div>
    </header>
    <div style="overflow-y: hidden">
      {% for project in site.projects %}
      <div class="card mb-3">
        <img class="card-img-top" alt="{{ project.name }}" src="{{ project.image }}" />
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text">{{ project.details }}</p>
          <p class="card-text"><small class="text-muted"><a href="{{ project.repo }}">Repo</a> {% if project.website %}| <a href="{{ project.website }}">Website</a> {% endif %} {% if project.package %}| <a href="{{ project.package }}">Package</a> {% endif %} </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <footer class="py-2 bg-dark navbar" style="z-index: 100; padding-left: 10px; padding-right: 10px">
        <a class="navbar-brand text-light justify-content-center align-items-center" href=".." style="font-size: 30px; color: white">Go Home</a>
        <a class="navbar-brand" href="https://github.com/{{ site.social_links.github }}"><i style="font-size: 50px; color: white" class="fab fa-github"></i></a>
    </footer>
  </body>
</html>
